src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="31d8a0c0-b870-41c8-8eab-a70a9a7a0a27" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="a5c9f858-ad0c-4785-bc6b-25cfc0305cec" >
		<http:listener doc:name="Listener" doc:id="48a505de-3850-4449-8306-a32f3c03f0fa" config-ref="HTTP_Listener_config" path="/sample" allowedMethods="GET"/>
		<set-payload value='#["Welcome to Mulesoft first project!!!"]' doc:name="Set Payload" doc:id="43d2d801-357b-400c-a0fe-a9de92f879c6" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="bb17d8ad-c65b-499b-9cac-b9a54082e899" message="#[payload]"/>
	</flow>
</mule>
